<ion-header>
    <ion-toolbar>
      <ion-icon name="ios-arrow-back" (click)="cerrarModal()"></ion-icon>
      <ion-title>{{titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <form [formGroup]="editFormGroup" (ngSubmit)="loadData()">
  
      <ion-item>
        <ion-label>Ejercicio</ion-label>
        <ion-input formControlName="ejercicioParaEditar"></ion-input>
      </ion-item>
  
      <ion-button type="submit" [disabled]="!editFormGroup.valid"> Confirmar </ion-button>
  
    </form>
  </ion-content>
  