<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="ios-arrow-back" (click)="cerrarModal()"></ion-icon>
    <ion-title style="text-align: center; margin-bottom: 10px; margin-top:
      10px;">{{titulo}}</ion-title>
    <ion-avatar style="text-align: center;margin:auto;cursor: pointer;">
      <ion-img src="assets/defaultProfile.jpg" width="150px"
        style="border:2px
        solid #fff"></ion-img>
    </ion-avatar>
  </ion-toolbar>

  <ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)"
    color="primary">

    <ion-segment-button layout="icon-start" value="0" *ngIf="!logged">
      <ion-icon name="log-in" style="margin-right:1px;zoom:0.8"></ion-icon>
    </ion-segment-button>

    <ion-segment-button layout="icon-start" value="1" *ngIf="admin">
      <ion-icon name="person-add" style="margin-right:1px;zoom:0.8"></ion-icon>
    </ion-segment-button>

  </ion-segment>

  <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%':
    (100/this.tabs.length)}" style="margin-top:2px"></div>

</ion-header>

<ion-content padding>

  <ion-slides #slides
    (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
    (ionSlideWillChange)="updateIndicatorPosition()"
    (ionSlideDidChange)="updateIndicatorPosition()"
    #SwipedTabsSlider
    (ionSlideDrag)="animateIndicator($event)">

    <ion-slide *ngIf="!logged">

      <form [formGroup]="loginUserFormGroup" (ngSubmit)="login()">

        <ion-item>
          <ion-label>Usuario</ion-label>
          <ion-input color="primary" placeholder="Usuario" formControlName="usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input color="primary" type="password" placeholder="Contraseña"
            formControlName="contraseña"></ion-input>
        </ion-item>

        <ion-button color="primary" type="submit" [disabled]="!loginUserFormGroup.valid">Iniciar
          Sesión</ion-button>

      </form>

    </ion-slide>


    <ion-slide *ngIf="admin">

      <form [formGroup]="createUserFormGroup" (ngSubmit)="register()">
        <ion-item>
          <ion-label>Usuario</ion-label>
          <ion-input placeholder="Usuario" formControlName="usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input type="password" placeholder="Contraseña"
            formControlName="contraseña"></ion-input>
        </ion-item>

        <ion-list>
          <ion-list-header>Grupo</ion-list-header>
        
          <ion-item>
            <ion-select placeholder="Selecciona uno" [(ngModel)]="grupoSelect" [ngModelOptions]="{standalone: true}">
              <ion-select-option *ngFor="let opcion of contenidoSelect">{{opcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label>Admin</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="adminCheckbox" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        </ion-item>

        <ion-button type="submit" [disabled]="!createUserFormGroup.valid">Registrar</ion-button>
        <ion-button (click)="prueba()">Registrar</ion-button>
      </form>

    </ion-slide>

  </ion-slides>

</ion-content>
