<ion-app>
  <ion-split-pane>
    <ion-menu>

      <ion-header>
        <ion-toolbar color="primary">

          <ion-title style="text-align: center; margin-bottom: 10px; margin-top:
            10px;">Menu</ion-title>

          <ion-avatar *ngIf="logged" (click)="mostrarActualizarFoto()" 
            style="text-align: center;margin:auto;cursor: pointer; margin-bottom: 10px;">
            <ion-img src="{{avatar}}" width="150px"
              style="border:2px
              solid #fff"></ion-img>
          </ion-avatar>

          <ion-item *ngIf="logged">
            <ion-label>Nombre: {{username}}</ion-label>
          </ion-item>

          <ion-item *ngIf="logged">
            <ion-label>Días Escaneados: {{dias}}</ion-label>
          </ion-item>

          <ion-item *ngIf="logged">
            <ion-label>Descuento: {{descuento}} €</ion-label>
          </ion-item>

        </ion-toolbar>
      </ion-header>

      <ion-content>

        <ion-item *ngIf="logged" (click)="scanQR()">
          <ion-icon slot="start" name="camera"></ion-icon>
          <ion-label>Escaneo Diario</ion-label>
        </ion-item>

        <ion-item (click)="mostrarModalRanking()">
          <ion-icon slot="start" name="medal"></ion-icon>
          <ion-label>Ranking</ion-label>
        </ion-item>
        
      </ion-content>

      <ion-footer>

        <ion-item *ngIf="logged">

            <ion-label>
              <ion-button color="primary" (click)="mostrarModalEditInfo()">
                <ion-icon slot="start" name="edit"></ion-icon>
                <span>Editar Usuario</span>
              </ion-button>
            </ion-label>

        </ion-item>

        <ion-item *ngIf="admin">

          <ion-label>
            <ion-button color="primary" (click)="mostrarModalLogin()">
              <ion-icon slot="start" name="add"></ion-icon>
              <span>Crear Usuario</span>
            </ion-button>
          </ion-label>

        </ion-item>
        <ion-item>

          <ion-label>

            <ion-button color="primary" *ngIf="!logged" (click)="mostrarModalLogin()">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <span>Iniciar Sesión</span>
            </ion-button>

            <ion-button color="primary" *ngIf="logged" (click)="mostrarPopoverLogout()">
              <ion-icon slot="end" name="log-out"></ion-icon>
              <span>Cerrar Sesión</span>
            </ion-button>

          </ion-label>
        </ion-item>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
