<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{groupNumer}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!logged">
  <p>Inicia Sesión para acceder a los entrenamientos</p>
  <ion-button (click)="prueba()"></ion-button>
</ion-content>

<ion-content *ngIf="logged">
  <ion-item-sliding *ngFor="let workout of groupWorkout">
    <ion-item>
      <ion-label>{{workout}}</ion-label>
    </ion-item>
  </ion-item-sliding>
  <ion-button (click)="prueba()"></ion-button>
</ion-content>
